<p id="notice"><%= notice %></p>

<h1>Listing Personal Records</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Repititions</th>
      <th>One rep max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_records.each do |personal_record| %>
      <tr>
        <td><%= personal_record.user %></td>
        <td><%= personal_record.exercise %></td>
        <td><%= personal_record.sets %></td>
        <td><%= personal_record.repititions %></td>
        <td><%= personal_record.one_rep_max %></td>
        <td><%= link_to 'Show', personal_record %></td>
        <td><%= link_to 'Edit', edit_personal_record_path(personal_record) %></td>
        <td><%= link_to 'Destroy', personal_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal record', new_personal_record_path %>
