<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @set_of_exercise.exercise %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @set_of_exercise.weight %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @set_of_exercise.reps %>
</p>

<%= link_to 'Edit', edit_set_of_exercise_path(@set_of_exercise) %> |
<%= link_to 'Back', set_of_exercises_path %>
